@import 'colors.css';
@import 'fonts.css';
@import 'buttons.css';
@import 'forms.css';
@import 'tables.css';
@import 'menu.css';
@import 'views.css';

@import '../font-awesome.min.css';

/*           Font Smoothing      */

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.remove-border {
    border: none;
}

.unset-font-style {
    font-style: unset;
}

.display-block {
    display: block;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.nc-bin {
    background-image: url(../../Images/bin-666.svg);
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}

.nc-bin:hover {
    background-image: url(../../Images/bin-f9963c.svg);
}

.nc-pencil {
    background-image: url(../../Images/pencil-666.svg);
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}
.nc-pencil:hover {
    background-image: url(../../Images/pencil-f9963c.svg);
}

.panel {
    padding: 15px;
    padding-top: 0;
}

.panel-action {
    font-size: 18px;
    padding-top: 20px;
}

.panel-action > a {
    font-size: 25px;
}