.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 100vh;
}

#sidebar {
    position: fixed;

    min-width: 250px;
    max-width: 250px;
    background-image: linear-gradient(to bottom, rgb(249, 150, 60) 0%, rgb(238, 116, 8) 100%), url(../../Images/navbar-bg-multiply.png);
    background-blend-mode: multiply;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    color: #fff;

    height: 100vh;
    overflow-y: auto;
}

/* width */
#sidebar::-webkit-scrollbar {
    width: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    
    margin: 10px;
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(60,60,60,0.65);
}

#sidebar a {
    color: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header .sidebar-logo {
    background-image: url(../../Images/LogoEmpresaBranco.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 85px;
    border-bottom: 1px solid rgb(249, 150, 60);
}

#sidebar .user-menu {
    padding: 0;
    border-bottom: 1px solid rgb(249, 150, 60);
}

#sidebar .user-menu .user-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #666;
    border: 1px solid #666;
    border-radius: 30px;
}

#sidebar .user-menu .user-image i {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(249, 150, 60);
}

#sidebar ul.components i.nc-icon {
    font-size: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a .caret {
    top: 23px;
    position: absolute;
    right: 20px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition: all 150ms ease-in;
}

a[data-toggle=collapse][aria-expanded=true] .caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#sidebar ul li {
    position: relative;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;

    transition: all 200ms;
}

#sidebar ul li a:active,
#sidebar ul li a:focus {
    text-decoration: none;
}

#sidebar ul.components li a {
    line-height: 31px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

#sidebar ul.components li ul li a {
    line-height: 21px;
    font-size: 11px;
    font-weight: 500;
    text-transform: none;
}

#sidebar ul.components li span.glyphicon {
    margin-right: 10px;
    vertical-align: sub;
    font-size: 20px;
}

#sidebar ul li a:hover {
    background: rgb(249, 150, 60);
    text-decoration: none;
}

#sidebar ul ul li a {
    text-transform: unset;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background:rgb(249, 150, 60);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.container {
    width: 100%;
    max-width: 100vw;
    background-color: #eee;

    padding: 0;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}

.container .content-body {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 15px 0 0 0;
}

.container .content-body .content-container {
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
}