.action-bar {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    display: block;
    color: #666;
    position: relative;
    padding: 5px 0;
}

.action-bar .title {
    font-size: 22px;
    margin-left: 5px;
}

.action-bar .search-container {
    position: relative;
    background-color: #FFF;
    width: 100%;
}

.action-bar .search-container i {
    position: absolute;
    font-size: 20px;
    top: 8px;
}

.action-bar .search-container .search-form-field {
    border: none;
    box-shadow: none;
    padding-left: 25px;
}

.action-bar .search-container .search-form-field:focus,
.action-bar .search-container .search-form-field:active {
    box-shadow: none;
}

.action-bar .btn {
    font-size: 12px;
}

.action-bar .context-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.extended-action-bar {
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #CCC;
    display: none;
    position: absolute;
    padding-bottom: 15px;
    background-color: #FFF;
}

.form-field {
    margin: 5px 0;
}

.context-menu > button, .context-menu > div {
    display: inline-block;
}